/* css 的初始化 */

/* 指定当前css文件, 编码格式是utf-8 */
@charset "UTF-8";

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  /* 设置 padding 或者 border 会自动内减 */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

 img, input, button, textarea {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;
}

input {
  font-family: "SimSun", "宋体";
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

img {
  display: block;
  border: 0;
  /* 可以防止 img 下边出现缝隙问题 */
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

body {
  /* 将整个页面的字体, 默认重置 */
  font: 12px/18px Microsoft YaHei, Arial, Verdana, "SimSun";
  color: #666;
  background: #eee;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* 兼容 IE 67 */
.clearfix {
  *zoom: 1;
}

a {
  color: #666;
  text-decoration: none;
}


/* 废物利用 1*/
s, i, em {
  font-style: normal;
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* 单行溢出隐藏 */
.txt-one {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 3行隐藏 */
.txt-thr {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.txt-five {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

